$editor-border: 1px solid rgba(#000000, 0.2);
$editor-font-family: 'Menlo', 'Andale Mono', 'Consolas', monospace;

$line-height: 1.5em;
$line-highlighted-color: rgba(#7f6f03, 0.1);
$line-selected-color: rgba(#007fff, 0.1);

$cursor-width: 2px;
$cursor-height: 1em;
$cursor-color: #000000;

$gutter-color: #fff7e7;
$gutter-number-color: rgba(#7f7b73, 0.75);
$gutter-border: 1px solid #e9e2d9;
$gutter-padding: 0 0.5em;

$column-padding: 0.5em;
$line-padding: 1em;

$tab-sep-width: 1px;
$tab-sep-color: rgba(#000000, 0.15);

$cursor-blink-time: 1s;

@mixin tinyedit-flex-box-row() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin tinyedit-flex-box-flex($flex) {
	flex: $flex;
}

.tinyedit {
	border: $editor-border;
	position: relative;
	font-family: $editor-font-family;
	line-height: $line-height;
	/*overflow: auto;
	-webkit-overflow-scrolling: touch;*/
	white-space: pre;
	@include tinyedit-flex-box-row();
}

.tinyedit-gutter {
	@include tinyedit-flex-box-flex(none);
}

.tinyedit-gutter-inner {
	text-align: right;
	background: $gutter-color;
	color: $gutter-number-color;
	border-right: $gutter-border;

	& > div {
		padding: $gutter-padding;
	}
}

.tinyedit-content {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	@include tinyedit-flex-box-flex(auto);
}

.tinyedit-gutter-inner,
.tinyedit-content-inner {
	padding: $column-padding 0;
}

.tinyedit-content-inner {
	white-space: pre;
	cursor: text;
	/* layout fix */
	min-width: 100%;
	float: left;
	/* end */

	& > div {
		padding: 0 $line-padding;
	}
}

.tinyedit-gutter-inner,
.tinyedit-content-inner {
	.highlighted {
		background: $line-highlighted-color;
	}

	.selected {
		background: $line-selected-color;
	}

	& > div > div {
		height: $line-height;
	}
}

.tinyedit-input {
	width: 2px !important;
	height: 1em !important;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	opacity: 0 !important;
	overflow: hidden;
	appearance: none;
	outline: none;
	z-index: 0;
	cursor: text;
	resize: none;
}

.tinyedit-cursor {
	width: 0;
	height: $cursor-height;
	margin-right: (-$cursor-width);
	border-right: $cursor-width solid $cursor-color;
	vertical-align: middle;
	display: inline-block;
	cursor: text;
}

.tinyedit-blink {
	animation: editor-cursor-blink $cursor-blink-time infinite linear;
}

.tinyedit-tab {
	display: inline-block;
	border-left: $tab-sep-width solid $tab-sep-color;
	margin-right: (-$tab-sep-width);
	vertical-align: middle;
}

@keyframes editor-cursor-blink {
	0%   { opacity: 1; }
	40%  { opacity: 1; }
	50%  { opacity: 0; }
	90%  { opacity: 0; }
	100% { opacity: 1; }
}
